body {
    background: #efefef;
}
.main{
    margin: 30px;
    background: #ffffff  url("/images/bg.jpg") no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.media-object {
    width: 38px;
    height: 38px;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section {
    margin-top: 15px;
}
.text-question {
    line-height: 28px;
}
.nav-bg-img {
    background-image: url("/images/bg.png");
}

