<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}" type="application/javascript"></script>
    <link rel="stylesheet" href="/community.css">
    <title>问题详情</title>

</head>
<body>
<div th:replace="common/topbar::copy"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">

            <div>
                <h4 th:text="${question.title}"></h4>
                <hr>
                作者: <span th:text="${question.user.getName()}"></span>
                | 发布时间： <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                | 阅读数: <span th:text="${question.viewCount}"></span>
            </div>
            <hr>
            <div th:text="${question.description}"></div>
            <hr>
            <div class="operate">
                <div th:if="${session.user != null}">
                    <div class="glyphicon glyphicon-edit" th:if="${question.getCreator() == session.user.id}"><a
                            th:href="@{/delete/}+${id}"><span>删除</span></a>
                    </div>
                    <div class="glyphicon glyphicon-edit" th:if="${question.getCreator() == session.user.id}"><a
                            th:href="@{/edit/}+${id}"><span>编辑</span></a>
                    </div>
                    <div class="glyphicon glyphicon-thumbs-up"><a th:href="@{/like/}+${question.id}"><span>点赞</span></a>
                    </div>
                    <div class="glyphicon glyphicon-star-empty"><a th:href="@{/collection/}+${id}"><span>收藏</span></a></div>
                    <div class="glyphicon glyphicon-pencil"><a href="#content"><span>添加评论</span></a></div>
                </div>
            </div>
            <hr>
            <div>
                <h4>全部评论</h4>
                <div class="media" th:each="comment:${comments}">
                    <div class="media-body">
                        <b th:text="${comment.user.getName()}"></b>:
                        <span th:text="${comment.content}"></span>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="media-body" th:each="question:${question}">
                <form th:action="@{/comment/}+${question.id}">
                    <label for="content">输入评论</label>
                    <textarea name="content" id="content" class="form-control" cols="30" rows="3"></textarea>
                    <br>
                    <button type="submit"
                            class="btn btn-success btn-submit">发送
                    </button>
                </form>

            </div>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="#" class="list-group-item">
                    我的问题<span class="badge">6</span>
                </a>
                <a href="#" class="list-group-item">
                    最新回复<span class="badge">11</span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>