<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script th:href="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}" type="application/javascript"></script>
    <link rel="stylesheet" href="/community.css">
    <title>发布</title>
</head>
<body>
<div th:replace="common/topbar::copy"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <h4><span class="glyphicon glyphicon-pencil">编辑</span></h4>
            <hr/>
            <form th:action="@{/edit/ok/}+${queryQuestion.id}" method="post">
                <input type="hidden" name="_method" value="put">
                <div class="form-group">
                    <label for="title">问题标题（简明扼要）</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题......"
                           th:value="${queryQuestion.title}">
                </div>
                <div class="form-group">
                    <label for="description">问题补充（必填，请参照右侧提示：）</label>
                    <textarea name="description" class="form-control" cols="30" rows="10"
                              th:text="${queryQuestion.description}" id="description"></textarea>
                    <input type="file">
                </div>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" id="tag" name="tag" th:value="${queryQuestion.tag}"
                           placeholder="输入标签，以逗号分隔......">

                </div>
                <div class="container-fluid main">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-danger" th:text="${error}"
                                 th:if="${error != null}"></div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish" >修改</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h2>问题发起指南</h2>
            <span class="glyphicon glyphicon-apple text-question">问题标题： 请用精简的语言描述您发布的问题，不超过25个字<br></span>
            <span class="glyphicon glyphicon-apple text-question">问题补充：详细补充您的问题内容，病确保问题描述清晰直观，并提供一些相关的资料<br></span>
            <span class="glyphicon glyphicon-apple text-question">选择标签： 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br></span>
        </div>
    </div>
</div>
</body>
</html>