<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}" type="application/javascript"></script>
    <link rel="stylesheet" href="/community.css">
    <title th:text="${sectionName}"></title>

</head>
<body>
<div th:replace="common/topbar::copy"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12" th:if="${question != null}" >
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div class="media"th:each="question:${question}">
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.title}"></h4>
                    <span th:text="${question.description}"></span>
                    <br>
                    <span class="text-desc">
                        <span th:text="${question.commentCount}"></span>*评论
                        <span th:text=" ${question.viewCount}"></span> *浏览
                        <span th:text=" ${question.likeCount}"></span> *点赞
                        <span th:text=" ${#dates.format(question.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span> *发布
                    </span>
                </div>
            </div>

        </div>
        <div class="col-lg-9 col-md-12 col-sm-12" th:if="${question == null}">
            <h4 class="glyphicon glyphicon-send">你还没有发布话题哦~</h4>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions"
                   th:class="${section == 'questions'? 'active list-group-item':'list-group-item'}">
                    我的发布<span class="badge">11</span>
                </a>
                <a href="/profile/replies"
                   th:class="${section == 'replies'? 'active list-group-item':'list-group-item'}">
                    最新回复<span class="badge">66</span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>